<footer>
    <section class="footer">
        <div class="f-1">
            <h4>Síguenos en nuestras redes</h4>
            <section>
                <div>feisbu</div>
                <div>tuiter</div>
                <div>instagran</div>
            </section>
        </div>
        <div class="f2">
            <h4>Visítanos en nuestros locales</h4>
            <p>la molina   l-d 10am - 1am</p>
            <p>surco</p>
            <p>los olivos</p>
            <p>barranco</p>
        </div>
        <div class="f3">
            <h4>Contáctanos</h4>
            <p>2323</p>
            <p>32434</p>
            <p>2434</p>
            <p>23423</p>
        </div>
    </section>
</footer>