

body {
   height: 100%;
}
body {
   margin: 0;
   font-family: Nunito,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
   font-size: 1rem;
   font-weight: 400;
   line-height: 1.5;
   color: #858796;
   text-align: left;
   background-color: #fff;
}
*, ::after, ::before {
   box-sizing: border-box;
}
user agent stylesheet
body {
   display: block;
   margin: 8px;
}



.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
   padding-left: 1.5rem;
   padding-right: 1.5rem;
}
@media (min-width: 576px)
.container, .container-sm {
   max-width: 540px;
}
@media (min-width: 576px)
.container {
   max-width: 540px;
}
.container {
   width: 100%;
   padding-right: .75rem;
   padding-left: .75rem;
   margin-right: auto;
   margin-left: auto;
}
*, ::after, ::before {
   box-sizing: border-box;
}

user agent stylesheet
div {
   display: block;
}


.justify-content-center {
   justify-content: center!important;
}
.row {
   display: flex;
   flex-wrap: wrap;
   margin-right: -.75rem;
   margin-left: -.75rem;
}

*, ::after, ::before {
   box-sizing: border-box;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
   position: relative;
   width: 100%;
   padding-right: .75rem;
   padding-left: .75rem;
}
*, ::after, ::before {
   box-sizing: border-box;
}

user agent stylesheet
div {
   display: block;
}



.o-hidden {
   overflow: hidden!important;
}
.mb-5, .my-5 {
   margin-bottom: 3rem!important;
}
.mt-5, .my-5 {
   margin-top: 3rem!important;
}
.shadow-lg {
   box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
}
.border-0 {
   border: 0!important;
}
.card {
   position: relative;
   display: flex;
   flex-direction: column;
   min-width: 0;
   word-wrap: break-word;
   background-color: #fff;
   background-clip: border-box;
   border: 1px solid #e3e6f0;
   border-radius: .35rem;
}

*, ::after, ::before {
   box-sizing: border-box;
}


.p-0 {
   padding: 0!important;
}
.card-body {
   flex: 1 1 auto;
   min-height: 1px;
   padding: 1.25rem;
}
*, ::after, ::before {
   box-sizing: border-box;
}
.row {
   display: flex;
   flex-wrap: wrap;
   margin-right: -.75rem;
   margin-left: -.75rem;
}
*, ::after, ::before {
   box-sizing: border-box;
}

.bg-login-image {
   background: url(https://source.unsplash.com/K4mSJ7kc0As/600x800);
   background-position: center;
   background-size: cover;
}
.d-none {
   display: none!important;
}
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
   position: relative;
   width: 100%;
   padding-right: .75rem;
   padding-left: .75rem;
}

*, ::after, ::before {
   box-sizing: border-box;
}
.img-thumbnail {
   padding: .25rem;
   background-color: #fff;
   border: 1px solid #dddfeb;
   border-radius: .35rem;
   max-width: 100%;
   height: auto;
}
img {
   vertical-align: middle;
   border-style: none;
}
*, ::after, ::before {
   box-sizing: border-box;
}


.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
   position: relative;
   width: 100%;
   padding-right: .75rem;
   padding-left: .75rem;
}

*, ::after, ::before {
   box-sizing: border-box;
}
.p-5 {
   padding: 3rem!important;
}
*, ::after, ::before {
   box-sizing: border-box;
}

.text-center {
   text-align: center!important;
}
*, ::after, ::before {
   box-sizing: border-box;
}

.text-gray-900 {
   color: #3a3b45!important;
}
.mb-4, .my-4 {
   margin-bottom: 1.5rem!important;
}
.h4, h4 {
   font-size: 1.5rem;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
   margin-bottom: .5rem;
   font-weight: 400;
   line-height: 1.2;
}
.h1, h1 {
   font-size: 2.5rem;
}
h1, h2, h3, h4, h5, h6 {
   margin-top: 0;
   margin-bottom: .5rem;
}
*, ::after, ::before {
   box-sizing: border-box;
}

h1 {
   display: block;
   font-size: 2em;
   margin-block-start: 0.67em;
   margin-block-end: 0.67em;
   margin-inline-start: 0px;
   margin-inline-end: 0px;
   font-weight: bold;
}

*, ::after, ::before {
   box-sizing: border-box;
}

form {
   display: block;
   margin-top: 0em;
}

.form-group {
   margin-bottom: 1rem;
}
*, ::after, ::before {
   box-sizing: border-box;
}
div {
   display: block;
}
label {
   display: inline-block;
   margin-bottom: .5rem;
}
*, ::after, ::before {
   box-sizing: border-box;
}
label {
   cursor: default;
}

@media (prefers-reduced-motion: reduce)
.form-control {
    transition: none;
}
.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #6e707e;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #d1d3e2;
    border-radius: .35rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
button, input {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
*, ::after, ::before {
    box-sizing: border-box;
}
user agent stylesheet
input[type="text" i] {
    padding: 1px 2px;
}
user agent stylesheet
input {
   
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
    -webkit-rtl-ordering: logical;
    cursor: text;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}


.form-group {
   margin-bottom: 1rem;
}
*, ::after, ::before {
   box-sizing: border-box;
}

user agent stylesheet
div {
   display: block;
}

.btn:not(:disabled):not(.disabled) {
   cursor: pointer;
}
[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
   cursor: pointer;
}
.btn-primary {
   color: #fff;
   background-color: #000000;
   border-color: #bd201b;
}
@media (prefers-reduced-motion: reduce)
.btn {
   transition: none;
}
.btn {
   display: inline-block;
   font-weight: 400;
   color: #858796;
   text-align: center;
   vertical-align: middle;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
   background-color: transparent;
   border: 1px solid transparent;
   padding: .375rem .75rem;
   font-size: 1rem;
   line-height: 1.5;
   border-radius: .35rem;
   transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
[type=button], [type=reset], [type=submit], button {
   -webkit-appearance: button;
}
button, input {
   overflow: visible;
}
button, input, optgroup, select, textarea {
   margin: 0;
   font-family: inherit;
   font-size: inherit;
   line-height: inherit;
}
*, ::after, ::before {
   box-sizing: border-box;
}
user agent stylesheet
input[type="submit" i] {
   appearance: auto;
   user-select: none;
   white-space: pre;
   align-items: flex-start;
   text-align: center;
   cursor: default;
   color: -internal-light-dark(black, white);
   background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
   box-sizing: border-box;
   padding: 1px 6px;
   border-width: 2px;
   border-style: outset;
   border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
   border-image: initial;
}
.bg-gradient-primary {
   background-color: #000000;
   background-image: linear-gradient(
180deg
,#000000 10%,#a50000 100%);
   background-size: cover;
}